body {
  margin: 0;
  font-family: 'Montserrat', ;
  color: #2B2E34;
}


/* TEXT STYLING */

h3 {
  padding:0em 0.4em 0em 0.4em;
  background-color: #FA382F;
  color:#FFF;
  display:inline-block;
  font-size: 22px;
  font-weight: bolder;
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: left;
  }

  h4 {
    font-size: 21px;
    color: #FA382F;
    text-transform: uppercase;
    text-align: left;
  }

  .colorme, .color-underline, .uppercase-red {
    color: #FA382F;
  }

  .color-underline {
    text-decoration: underline;
  }

  .uppercase-red {
    text-transform: uppercase;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: #2B2E34;
  }

  /* HEADER STYLING */

header {
  height: 500px;
  background:black;
  padding: 40px 36px 0 36px;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.header-portrait {
  border: 2px solid white;
  border-radius: 95%;
  float: right;
  margin-bottom: -40px;
}

.header-text {
  align-self: flex-start;
}

header a {
  border: 3px solid white;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  opacity: 1;
  padding: 15px 10px 10px 10px;
}

.icon {
  width: 22px;
  height: 22px;
}


/* SECTION BOXES */
.portfolio-section {
  height: 100%;
  padding: 10px 36px;
}

.grey {
  background:lightgrey;
}

/* FEATURED PROJECTS */

h5 {
  color: #FDDFE7;
  background-color: transparent;
  text-transform: uppercase;
}

.project-image {
  background-image: url(header-img.jpeg);
  width: 300px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-tags {
  display: flex;
  flex-direction: row;
}

.tag {
  background: pink;
  margin-right: 5px;
  padding: 4px;
}

/* FOR MORE INFO BOX */

.for-more a {
  border: 3px solid#FA382F;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  opacity: 1;
  padding: 15px 10px 10px 10px;
}

footer {
  padding: 10px 36px;
  background: blue;
}




  