body {
  margin: 0;
  font-family: 'Montserrat';
  color: #2B2E34;
}

/* TEXT STYLING */

h1 {
  font-size: 40px;
  margin: 0;
  font-family: 'Montserrat';
}

h2 {
  font-size: 24px;
  margin: 0;
  font-family: 'Montserrat';
}

h3 {
  color: white;
  font-size: 22px;
  font-weight: bolder;
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: center;
  font-family: 'Montserrat'; 
}

h3 span {
 background: #4B0082;
 padding: 4px 8px 4px 8px;
 justify-self: flex-start;
}

h4 {
 font-size: 21px;
 color: #4B0082;
 text-transform: uppercase;
 text-align: center;
 font-family: 'Montserrat';
}

h5 {
 background-color: transparent;
 text-transform: uppercase;
 font-size: 20px;
 color:#EE82EE;
 text-shadow: 2px 2px #4B0082;
 position: absolute;
 top: 30%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: fit-content;
}

.colorme, .color-underline, .uppercase-red, .thought-date, .skill-title {
 color: #544f91;
}

.color-underline {
  text-decoration: underline;
 }

.uppercase-red {
 text-transform: uppercase;
 font-weight: bold;
}

.uppercase {
 text-transform: uppercase;
 font-size: 13px;
 margin: 0;
}

a {
 text-decoration: none;
 color: #2B2E34;
}

p {
 font-size: 17px;
 font-family: 'Roboto';
 max-width: 300px;
}

.intro {
 font-size: 17px;
 text-align: center;
 padding: 30px 0 30px 0;
 font-family: 'Montserrat';
}

.thought-date {
 font-size: 17px;
 font-family: 'Roboto';
}

.thought-title {
 font-size: 21px;
 font-weight: bold;
 font-family: 'Roboto';
}

.thoughts-text {
 margin: 5px;
 font-family: 'Roboto';
}

.skill-title {
 font-weight: bold;
 text-transform: uppercase;
}

.skill-set p {
 margin: 3px 0 3px 0;
}

.boldmargin {
 font-weight: bold;
 margin-left: 30px;
}

.tech-list {
 margin-bottom: 60px;
 font-family: 'Montserrat';
}

/* HEADER STYLING */

header {
  height: 500px;
  background-image: url(assets/space.jpeg);
  background-repeat: no-repeat;
  padding: 40px 36px 0 36px;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.header-portrait {
  border: 2px solid white;
  border-radius: 95%;
  float: right;
  margin-bottom: -60px;
  width: 150px;
  height: 150px;
}

.header-text {
  align-self: flex-start;
}

header a {
  border: 3px solid white;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  opacity: 1;
  padding: 15px 10px 10px 10px;
}

.icon {
  width: 22px;
  height: 22px;
}


/* SECTION BOXES */

.intro-image {
  width: 50px;
  height: 50px;
  float: none;
  margin-right: 5px;
}

.intro-text {
  display: flex;
  flex-direction: row;
  float: none;
}

.portfolio-section {
  height: 100%;
  padding: 0px 36px 10px 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grey {
  background: #f4f4f4;
  opacity: 1;
}

/* FEATURED PROJECTS */

.project-image {
  width: 300px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.filter {
  filter: brightness(70%)
}

.project-tags {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  font-family: 'Roboto';
}

.tag {
  background: #4B0082;
  color: white;
  margin-right: 5px;
  padding: 4px;
  font-size: 11px;
}

.project-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* FEATURED BLOG POSTS */

.thoughts {
  width: 300px;
  height: 205px;
}

.skill-set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0px;
}

/* FOR MORE INFO BOX */

.for-more a {
  border: 3px solid#4B0082;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  opacity: 1;
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: all .2s ease-in-out;
}

.for-more a:hover {
  transform: scale(1.1);
}

.for-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

footer {
  padding: 10px 36px;
  background: #4B0082;
  height: 270px;
  text-align: center;
  color: #FFF;
}

.bold, .colorme {
  font-weight: bold;
}

.hide-mobile {
  display: none;
}


/* MEDIA QUERIES */

@media (min-width: 420px) {
  p {
    max-width: 100%;
  }
}

@media screen and (min-width: 800px) {

  header {
  padding: 40px 160px 0 160px;
  }

  .uppercase {
  font-size: 23px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
  font-size: 30px;
  }

  .portfolio-section {
  padding: 0 160px 0 160px;
  }

  .project-boxes {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 700px;
  }

  .project-box {
  max-width: 300px;
  }

  .project-box.more, .more-thoughts.more {
  max-width: 100%;
  justify-content: flex-start;
  margin: 0px;
  }

  .project-box.more p, .more-thoughts.more p {
  text-decoration: underline;
  }

  .uppercase-red, .thought-date {
  text-decoration: underline;
  color: #4B0082;
  }

  .none {
  text-decoration: none;
  }

  .my-thoughts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  }

  .my-thoughts a {
  max-width: 300px;
  margin-right: 20px;
  }

  .hide-mobile {
  display: initial;
  }

  .header-portrait {
  width: 220px;
  height: 220px;
  margin-bottom: -30px;
  }

  .code, .more, .toolbox, .Upcoming {
    margin: 20px;
  }

}

@media screen and (min-width: 1200px) {

  header {
    padding: 40px 200px 0 200px;
    background-size: cover;
  }

  .portfolio-section {
    padding: 0px 200px 0 200px;
  }

  .uppercase {
    font-size: 28px;
  }

  h1 {
    font-size: 82px;
  }

  h2 {
    font-size: 50px;
  }

  .my-thoughts a {
    max-width: 300px;
  }
}

@media screen and (min-width: 1500px) {

  header {
    padding: 40px 300px 0 300px;
    background-size: cover;
  }

  .portfolio-section {
    padding: 0px 300px 0 300px;
  }

}




