body {
  background: yellow;
  color: white;
  font-family: 'Montserrat', 'Roboto';
}

header {
  background-image: url(header-img.jpeg);
  height: 500px;
  padding: 20px;
}

h3, h4, .uppercase {
  text-transform: uppercase;
}

h1 {
  font-weight: bold;
  margin: 2px;
}

h2 {
  margin: 2px;
}

h3 {
padding:0em 0.4em 0em 0.4em;
display:inline-block;
background-color: red;
color:#FFF;
font-size: 20px;
}

h4 {
  color: red;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.header-portrait {
  border: 2px solid white;
  border-radius: 95%;
  float: right;
}

.icons img {
  border: 4px solid white;
  border-radius: 25px;
  height: 20px;
  padding: 20px;
  margin: 5px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-text {
font-size: 17px;
padding: 55px;
margin-bottom: 2px;
}

.intro-text {
  background: #f4f4f4;
  height: 100px;
  padding: 50px;
  color: black;
  text-align: left;
  font-weight: lighter;
}

.tech, .my-articles, .for-more {
  background: white;
  color: black;
  text-align: center;
  height: 100%;
  padding: 50px;
  margin-top: 0;
}

.featured-projects, .skills {
  background: whitesmoke;
  color: black;
  text-align: center;
  height: 100%;
  padding: 50px;
  margin-top: 0;
}

.projects img, .my-articles img {
  width: 350px;
  height: 150px;
  border: none;
  filter: grayscale(50%);
}

.project-image {
  position: relative;
  text-align: center;
  color: white;
}

.image-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: white 0px 0px 10px;

}

.project-description {
  text-align: left;
}

.project-tags {
  text-align: left;
}

.project-one, .project-two, .project-three, .project-four {
  padding-left: 10px;
}

.tag-one, .tag-two, .tag-three, .tag-four {
padding:0em 0.4em 0em 0.4em;
display:inline-block;
background-color:pink;
color: black; 
font-size: 13px;
margin-bottom: 50px;
}

.other-projects .project-description {
  text-decoration: underline;
}

.article-date {
  color: red;
  font-size: 15px;
  text-align: left;
}

.article-title {
  font-size: 20px;
  text-align: left;
}

.article-description {
  margin-bottom: 10px;
  text-align: left;
}

.skill-title, .for-more-text {
  color: red;
  text-transform: uppercase;
}

.skill-set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.for-more-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.for-more-icons img {
  height: 100%;
  padding: 20px;
  margin: 10px;
  border: 2px solid red;
  border-radius: 50px;
}

.for-more-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer {
  background: blue;
  color: white;
  text-align: center;
  height: 100%;
  padding: 50px;
  margin-top: 0;
}

footer h3 {
  background: none;
}